.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 26px;
}
.links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.button{
    padding: 10px;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    
}